
/* ==========================================================================
   Mise en forme générale MOBILE FIRST
   ========================================================================== */


@font-face {
	font-family: "ombeline";
	src: url('../font/ombeline/Ombeline.ttf');
}

@font-face {
	font-family: "marchand";
	font-style: italic;
	src: url('../font/marchand/Marchand_Italic.ttf');
}

@font-face {
 font-family: "marchand";
 src: url('../font/marchand/Marchand.ttf');
}

body {
  margin: 0;
	background-color: black;
}

a {
   color: inherit;
   text-decoration: none;
 }

li {
   color: inherit;
   list-style: none;
 }

img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}
/* ==========================================================================
   Mise en forme header
   ========================================================================== */


header {
  /*border-bottom: 2px solid black;*/
  display: flex;
  padding: 0;
	height: 65px;
  /*border: 3px solid yellow;*/
  background-color: black;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
  margin: 0;
  top: 0;
  width: 100%;
	/*z-index: 4;*/
}


h1 {
  font-size : 5.4rem;
  margin:0 auto 0 5px;
  color: white;
  line-height: 60px;
  font-family: 'marchand';
  font-style: italic;
  font-weight: lighter;
}

h2, #burger-shower {
  display: none;
}



/*mise en page menu déroulant */


		/*avant le clic*/

.hamburger {
  color: white;
  margin-right: 20px;
  font-size: 2em;
	display: flex;
	position: relative;
	width: auto;
}

.burger-menu div {
  display: block;
  height: 0px;
	background-color: black;
	width: 100%;
}

.burger-menu div a {
	display: none;
	opacity: 0;
}

.burger-menu {
  height: 0px;
  position: absolute;
  top: 63px;
	text-align: center;
  background-color: black;
}

		/*après le clic */
.burger-shower:checked ~ .burger-menu {
	height: auto;
	display: flex;
	min-width: 100%;
	transition: 1s;
	position: absolute;
	top: 63px;
	right: 0;
	background-color: black;
	color: white;
	flex-direction: column;
	padding-bottom: 8px;
	border-bottom: 2px solid white;
}

.burger-shower:checked ~ .burger-menu div {
  display: block;
  margin: 9px 0 0 0;
	padding: 0;
	width: 100%;
	height: 30px;
	transition: 1s;
}

.burger-shower:checked ~ .burger-menu div a {
	display: block;
	opacity: 1;
	font-weight: lighter;
	transition: 0.5s;
	font-size: 1.6rem;
	letter-spacing: -2px;
	line-height: 38px;
}

.burger-menu div a:hover, .burger-menu div a:focus {
	background-color: white;
	color: black;
}

/*mise en page du aside ---------------------------------------*/

aside ul {
  display: flex;
  width: 35%;
	position: fixed;
	top: 4px;
	right: 20%;

}

aside ul li{
  min-width: 16px;
  text-align: center;
  margin: 5px 3px;
  background-color: white;
  padding: 5px;
	font-size: 0.85em;
  border-radius: 15px;
  color: black;
}

aside ul li:hover, aside ul li:focus, aside ul li:active {
  background-color: #E10117;
  color: black;
}


/*mise en page main : commun à toutes les pages */

main {
	margin-top: 100px!important;
	color: white;
	/*width: 90%;*/
}

main * {
	margin : 0;
	z-index: -3;
	letter-spacing: 3px;
	font-weight: lighter;
	color: white;
}


		/*mise en page de la partie GALLERY */


/*CAROUSEL ============================================*/
.carousel img {
  display: inline;
	margin: 0 1.5px;
}

.carousel {
	position: relative;
	width: 172px;
	height: 170px;
	margin:  0;
	overflow: hidden;
  /*top : 3em;*/
	left : -1px;
}

.carousel .carouselslide {
  left: 0px;
	position: relative;
	width: 525px;
	margin: 0 2px;
	padding: 0;
	display: flex;
	/*CSS3 keyframes animation*/
	animation-name: AutoSlide;
	animation-duration: 12s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes AutoSlide {
	0%, 30%, 100% {
		left: 0px; /*1ère image*/
	}
	40%, 65% {
		left: -101%; /*2ème image*/
	}
	75%, 90% {
		left: -201.5%; /*3ème image*/
	}
}


.gallery {
	width: 100%;
	display: flex;
	align-items: center;
	/*margin: 0 auto 0 auto;*/
	flex-flow: column nowrap;
}

.gallery > div > div, .gallery > div:last-of-type, .gallery > div:first-of-type > figure, .gallery > figure{
	display: flex;
	justify-content: center;
	margin: 2px;
}


.gallery > figure, .gallery > div:first-child > figure {
	width: 350px!important;
}

 .gallery > figure > img, .gallery > div:first-child > figure{
	min-width: 98%;
}

.gallery > div:first-child > figure img {
	width: 99%;
	margin-top: 2px;
}




/*mise en page de la partie contact */

.contact {
	width: 90%;
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: auto;
}

.contact h2 {
	display: block;
	margin-bottom: 6px;
}

.contact > section:first-child > div {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.contact > section:first-child figure {
	width: 100%;
	display: flex;
	margin-bottom: 9px;
	align-items:center;
}
.contact > section:first-child figure img {
	border-radius: 105px;
	width: 150px;
	height: 150px;
}

.contact > section:first-child figure figcaption {
	margin: auto 5px;
	font-size: 0.8em;
	letter-spacing: 2px;
	line-height: 20px;
}

.contact > section:first-child figure span {
	font-weight: bolder;
	border-bottom: 2px solid white;
	padding-bottom: 2px;
}





			/*mise en page formulaire de contact */

.contact > section:nth-child(2) {
	width: 90%;
	margin-top: 10px;
}

.contact > section form div {
	width: 100%;
	margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.contact > section form input {
	width: 50%;
	color: black;
	letter-spacing: 1px;
}

.contact > section form div select,
.contact > section form textarea {
	width: 50%;
	letter-spacing: 1px;
	color: black;
}

.contact > section form textarea {
	height: 100px;
}

.contact form > input{
	width: auto!important;
}

.contact > section:last-of-type div:last-child {
	height: 120px;
	margin-top: 9px;
}

.contact > section:last-of-type {
	width: 90%;
}
.contact > section:last-of-type  h2 {
	/*position: absolute;*/
	/*left: 5px;*/
	margin : 20px 0px 5px 0;
}

.contact > section:last-of-type ul {
	text-align: center;
	padding: 0;
}

iframe {
	width: 100%;
	height: 120px;
	position: absolute;
	left: 0;
	border-top: 3px solid white!important;
}



=======
/*mise en page du blog ------------------------------------------*/

.blog {
	color: white;
	margin: auto 10px;
}
.blog section h2 {
	display: block;
	font-weight: lighter;
	margin: 15px 0;
}
.blog input {
	color: black;
}

.blog section:first-child img {
	max-width: 20%;
	min-width: 100px;
	float: right;
	max-height: 200px;
}

.blog section:nth-of-type(2) {
	clear: both;
}

.bloggallery h2 {
	width: 100%;
}

.bloggallery figure {
	width: 33%;
}
.bloggallery div{
	display: flex;
}

/*mise en page du footer ------------------------------------------*/

footer p {
	display: flex;
	justify-content: center;
}

footer nav {
	display: none;
}

footer p a{
	width: 80px;
  text-align: center;
	background-color: white;
  padding: 5px;
	font-size: 0.85em;
  border-radius: 15px;
  color: black;
	bottom: 10px;
}













/* ==========================================================================
   Mise en forme TABLETTE

   ========================================================================== */


@media (min-width: 600px) {




	/*mise en page de la partie contact ------------------------*/

	.contact > section:first-child {
		width: 90%;
	}
	.contact > section:first-child > div {
		display: flex;
		flex-flow: row;
		/*margin: auto;*/
		/*max-width: 33%;*/
		justify-content: space-around;
		/*align-items: center;*/
	}

	.contact > section:first-child > div figure {
		display: flex;
		flex-direction: column;
	}

	/*mise en page footer --------------------------------------*/
	footer nav {
		display: block;
		color: #514f4f;
	}

	footer nav ul {
		/*padding: 0;*/
		margin: 0 0 3px 0;
		display: flex;
		justify-content: flex-end;
		align-items: baseline;
	}

	footer nav ul li {
		margin: 0 5px;
		padding: 0;
		font-size: 0.8em!important;
	}
}





/* ==========================================================================
   Mise en forme ORDINATEUR

   ========================================================================== */


@media (min-width: 900px) {

	/*mise en page header  ------------------------*/

	header h2 {
		display: inline-block;
		color: #514f4f;
    /*#383434;*/
		font-weight: lighter;
		letter-spacing: -2px!important;
	}

	header h1 {
		display: inline-block;
		margin-right: 30px;
	}

	/*header #burger-shower, header .hamburger {
		display: none;
	}

	header .burger-menu {
		display: flex;
		width: 50%;
		height: 50px;
		background-color: white;
		flex-flow: row nowrap;
	}*/

	/*mise en page aside ------------------------*/
	.social ul {
		display: flex;
		width: auto;
		height: 150px;
		flex-flow: column;
		position: fixed;
		right: 10px;
		top: 150px;
	}

	.social li {
		width: 15px;
	}


	/*mise en page général de la main partie ----------------*/

	body >.contact {
		max-width: 700px;
	}
	/*mise en page de la partie contact ------------------------*/



	.contact section {
		margin-bottom: 15px;
		padding-top: 15px;
		border-top: 2px solid white!important;
	}

	/*mise en page de la partie gallery ------------------------*/
	body .gallery {
		width: 700px;
		margin: auto;
		height: 580px;
		flex-flow: column wrap;
		align-content: stretch;
	}

	body .gallery > figure {
		width: auto;
		order: 1;
		margin: 0px;
		height: 100%;

		max-width: 350px!important;
	}

	.gallery > div:first-child > figure {
		width: auto;
		max-width: 350px;
	}
}
