
/* ==========================================================================
   Mise en forme générale MOBILE FIRST
   ========================================================================== */


@font-face {
	font-family: "ombeline";
	src: url('../font/ombeline/Ombeline.ttf');
}

@font-face {
	font-family: "marchand";
	font-style: italic;
	src: url('../font/marchand/Marchand_Italic.ttf');
}

@font-face {
 font-family: "marchand";
 src: url('../font/marchand/Marchand.ttf');
}

body {
  margin: 0;
	background-color: black;
}

a {
   color: inherit;
   text-decoration: none;
 }

li {
   color: inherit;
   list-style: none;
 }

img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}
/* ==========================================================================
   Mise en forme header
   ========================================================================== */


header {
  /*border-bottom: 2px solid black;*/
  display: flex;
  padding: 0;
	height: 65px;
  /*border: 3px solid yellow;*/
  background-color: black;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
  margin: 0;
  top: 0;
  width: 100%;
	/*z-index: 4;*/
}


h1 {
  font-size : 5.4rem;
  margin:0 auto 0 5px;
  color: white;
  line-height: 60px;
  font-family: 'marchand';
  font-style: italic;
  font-weight: lighter;
}

h2, #burger-shower {
  display: none;
}



/*mise en page menu déroulant */


		/*avant le clic*/

.hamburger {
  color: white;
  margin-right: 20px;
  font-size: 2em;
	display: flex;
	position: relative;
	width: auto;
}

/*.burger-menu div {
  display: none;
  height: 0px;
}*/
.burger-menu div {
  display: block;
  height: 0px;
	background-color: black;
	width: 100%;
}

.burger-menu div a {
	display: none;
	opacity: 0;
}

.burger-menu {
  height: 0px;
  position: absolute;
  top: 63px;
	text-align: center;
  background-color: black;
	/*display: block;*/
  /*font-size: 1.4em;*/
  /*font-family: 'sail';*/
  /*font-weight: lighter;*/
}

		/*après le clic */
.burger-shower:checked ~ .burger-menu {
	height: auto;
	display: flex;
	min-width: 100%;
	/*margin: 0;*/
	/*padding: 0;*/
	transition: 1s;
	position: absolute;
	top: 63px;
	right: 0;
	background-color: black;
	color: white;
	flex-direction: column;
	padding-bottom: 8px;
	border-bottom: 2px solid white;
}

.burger-shower:checked ~ .burger-menu div {
  display: block;
  /*line-height: 20px;*/
  /*align-items: stretch;*/
  margin: 9px 0 0 0;
	padding: 0;
	width: 100%;
	height: 30px;
	/*color: white;*/
	transition: 1s;
}

.burger-shower:checked ~ .burger-menu div a {
	display: block;
	opacity: 1;
	font-weight: lighter;
	transition: 0.5s;
	/*margin: 3px 0 0 0;*/
	/*font-family: arial;*/
	font-size: 1.6rem;
	letter-spacing: -2px;
	line-height: 38px;
}

.burger-menu div a:hover, .burger-menu div a:focus {
	background-color: white;
	color: black;
}

/*mise en page du aside ---------------------------------------*/

aside ul {
  display: flex;
  width: 35%;
  /*min-width: 140px;*/
  /*justify-content:flex-end;*/
  /*margin: 4px 0 0 90px;*/
  /*border-top: 3px solid black;*/
	position: fixed;
	top: 4px;
	right: 20%;

}

aside ul li{
  min-width: 16px;
  text-align: center;
  margin: 5px 3px;
  background-color: white;
  padding: 5px;
	font-size: 0.85em;
  border-radius: 15px;
  color: black;
}

aside ul li:hover, aside ul li:focus, aside ul li:active {
  background-color: #E10117;
  color: black;
}


/*mise en page main : commun à toutes les pages */

main {
	margin-top: 100px!important;
	color: white;
	/*width: 90%;*/
}

main * {
	margin : 0;
	z-index: -3;
	letter-spacing: 3px;
	font-weight: lighter;
	color: white;
}


		/*mise en page de la partie GALLERY */


/*CAROUSEL ============================================*/
.carousel img {
  display: inline;
	/*margin: 0;*/
}

.carousel {
	position: relative;
	width: 173px;
	height: 170px;
	margin:  0;
	overflow: hidden;
  /*top : 3em;*/
	left : 3px;
}

.carousel .carouselslide {
  left: 2px;
	position: relative;
	width: 525px;
	margin: 0;
	padding: 0;
	/*CSS3 keyframes animation*/
	animation-name: AutoSlide;
	animation-duration: 12s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes AutoSlide {
	0%, 30%, 100% {
		left: 0px; /*1ère image*/
	}
	40%, 65% {
		left: -101%; /*2ème image*/
	}
	75%, 90% {
		left: -201.5%; /*3ème image*/
	}
}

/*#slideshow:hover {
  box-shadow: 2px 3px 7px rgb(89,79,79);
  transform: scale(1.1);
  transition: 1s;
}*/


.gallery {
	width: 100%;
	display: flex;
	align-items: center;
	/*margin: 0 auto 0 auto;*/
	flex-flow: column nowrap;
}

.gallery > div > div, .gallery > div:last-of-type, .gallery > div:first-of-type > figure, .gallery > figure{
	display: flex;
	justify-content: center;
	/*justify-content: space-around;*/
	/*width: 80%;*/
	/*border: 1px solid red;*/
	margin: 2px;
}

.gallery > div > div > figure, .gallery > div:last-of-type figure{
	/*flex: 100;*/
	/*flex:1;*/
}

.gallery > figure, .gallery > div:first-child > figure {
	min-width: 350px!important;
	/*width: 80%;*/
}

 .gallery > figure > img, .gallery > div:first-child > figure{
	min-width: 98%!important;
	/*border: 4px solid green!important;*/
}

.gallery > div:first-child > figure img {
	width: 99%;
	margin-top: 2px;
}








/*mise en page de la partie contact */

.contact {
	width: 90%;
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: auto;
}

.contact h2 {
	display: block;
	margin-bottom: 6px;
}

.contact > section:first-child > div {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.contact > section:first-child figure {
	width: 100%;
	display: flex;
	margin-bottom: 9px;
	align-items:center;
}
.contact > section:first-child figure img {
	border-radius: 105px;
	width: 150px;
	height: 150px;
}

.contact > section:first-child figure figcaption {
	margin: auto 5px;
	font-size: 0.8em;
	letter-spacing: 2px;
	line-height: 20px;
}

.contact > section:first-child figure span {
	font-weight: bolder;
	border-bottom: 2px solid white;
	padding-bottom: 2px;
}





			/*mise en page formulaire de contact */

.contact > section:nth-child(2) {
	width: 90%;
	margin-top: 10px;
}

.contact > section form div {
	width: 100%;
  display: flex;
  justify-content: space-between;
}

.contact > section form input {
	width: 50%;
	color: black;
	letter-spacing: 1px;
}

.contact > section form div select,
.contact > section form textarea {
	width: 50%;
	letter-spacing: 1px;
}

.contact > section form textarea {
height: 100px;
}

.contact form select{
	color: black;
}





/*mise en page du footer ------------------------------------------*/

footer p {
	display: flex;
	justify-content: center;
}

footer nav {
	display: none;
}

footer p a{
	width: 80px;
  text-align: center;
  background-color: white;
  padding: 5px;
	font-size: 0.85em;
  border-radius: 15px;
	font-weight: bolder;
  color: black;
	bottom: 10px;
}
